################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.bash_history
/.bito
/.config
/.console-ninja
/.dotnet
/.gitconfig
/.idlerc
/.lesshst
/.librarymanager
/.nuget
/.ssh
/.th-client
/.vscode
/.wallaby
/app.js
/AppData
/CLionProjects
/Contacts
/dir
/Documents
/Downloads
/Favorites
/Links
/Music
/npm-cache
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{77a0aa30-0cb0-11ee-aa7f-70d8237d79cb}.TM.blf
/NTUSER.DAT{77a0aa30-0cb0-11ee-aa7f-70d8237d79cb}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{77a0aa30-0cb0-11ee-aa7f-70d8237d79cb}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/OS
/PycharmProjects
/Python2
/Saved Games
/Searches
/source
/styles.css
/Videos
